/* I position */

.box1 {
    width: 200px;
    height: 200px;
    border: 5px solid green;
    margin-top: 150px;
    margin-left: 150px;
    box-shadow: 10px 15px rgb(255, 0, 0);
    transition-property: box-shadow;
    transition-duration: 2s;
}
.box1:hover {
    /* width: 400px;
    height: 400px; */
    transform: scale(2,2);
    box-shadow: 10px 15px 30px rgb(255, 0, 0);          
    cursor: pointer;
}

/* II position */

.box2 {
    width: 200px;
    height: 200px;
    margin-top: 200px;
    margin-left: 150px;
    background-color: yellow;
    border-radius: 50%;
    animation-name: box2;
    animation-duration: 4s;
    /* opacity: .5; */
}
@keyframes box2{
    from{
        background-color: yellow;
    }
    to{
        background-color: rgba(233, 233, 180, .5);
    }
}